* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

div.keyPoint {
  margin: 1rem;
  border: 1px solid black;
}

div.keyPoint h2 {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  color: white;
  background-color: #283593;
}

div.keyPointContent ul li {
  margin-bottom: 0.5rem;
}

div.keyPointContent {
  margin: 0.5rem;
}

a {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 0.3rem;
  height: 35px;
}

td:not(:first-child) {
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
}

td:not(:first-child):nth-child(odd),
th:not(:first-child):nth-child(odd) {
  background-color: #757575;
}

.sub td:first-child {
  padding-left: 1.5rem;
  background-color: #9e9e9e;
}

.sub-2 td:first-child {
  padding-left: 2.5rem;
  background-color: #e0e0e0;
}

.level {
  width: 10px;
  vertical-align: bottom;
}

.green {
  background-color: #4caf50 !important;
}

.yellow {
  background-color: #f4e736 !important;
}

.red {
  background-color: #f44336 !important;
}

.header {
  text-align: left;
  font-size: 1.75rem;
  padding-left: 1rem;
}

.backBtn,
.backBtn a {
  padding: 0;
}

.backBtn a {
  text-decoration: none;
  background-color: #0d47a1;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  display: block;
}

th p {
  margin: 0;
}
