:root {
  --gray: #b4b4bb;
}

h1.list-header {
  padding-left: 1rem;
}

ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

ul.alternate li:nth-child(odd) {
  background-color: var(--gray);
}

li {
  padding: 1rem;
  font-size: 1.25rem;
}

ul.menu li:hover {
  cursor: pointer;
}
